/* CSS */

/*Colours*/

/* General */

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
	background-color: rgba(77, 87, 96, .1);
}

html {font-size: .5em; width: 100%;}

@media only screen and (min-width: 35em) {
    html {font-size: 1em; width: 100%;}
}

body {
    background-color: #fff;
    font-family: sans-serif;
    line-height: 1.35;
    color: #423f47;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
}

span {
    display: inline-block;
}

/* Typography */

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
}

h1, .uno {
  font-size: 3.157em;
}

h2, .dos {font-size: 2.369em;}

h3, .tres {font-size: 1.777em;}

h4, .cuatro {font-size: 1.333em;}

.reg {font-size: 1.25rem; line-height: 1.35;}

small, .font_small {font-size: 0.75em;}

a,.orange {
    color: #ff7032;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.intro {
    position: relative;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.push-top {
    margin-top: 2.56rem;
}

.contain {
    width: 80%;
    margin: 0 auto;
    max-width: 70rem;
}