/* CSS */

* {
    margin: 0; 
    padding: 0;
}

*,*:after,*::before {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

::selection {
    background-color: #07ffe2;
}

.flex-img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

html {font-size: 1em; width: 100%;}

body {
    background-color: white;
    background-size: 100%; 
    line-height: 1.35;
    color: #ff0042;
    width: 100%;
    position: relative;
}

/* Typography */

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1, .uno {
  margin-top: 6em;
  font-size: 3.157em;
}

h2, .dos {font-size: 2.369em;}

h3, .tres {font-size: 1.777em;}

h4, .cuatro {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

a {
    color: inherit;
}

ul {
    list-style-type: none;
}


/* Web Work */

.webwork-p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    color: #b5aa50;
}

.webwork-p ::selection {
    background-color: #ededed;
}

#intro-web {
    text-align: center;
    padding: 12%;
}

@media only screen and (min-width: 63em) {
    #intro-web {
        padding: 12rem;
    }
}

#intro-web h1 {
    margin: 0;
}

.web-link {
    display: block;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: #393939;
    color: white;
    text-decoration: none;
    -webkit-transition: all 200ms linear;
    letter-spacing: normal;
    text-rendering: auto;
    vertical-align: middle;
    word-spacing: normal;
    display: inline-block;
    visibility: visible;
}

.bg-2 {
    background-color: #313131;
}

.web-link:hover {
    background-color: grey;
}


.title {
    display: block;
    position: relative;
    padding: 5rem;
    margin-bottom: 0;
    margin-top: 0;
}

@media only screen and (min-width: 63em) {

    .title {
        display: block;
        position: relative;
        padding: 5rem;
    }
}

.web-work {
    width: 100%;
    position: relative;
}


.website {
    text-decoration: none;
    color: #b5aa50;
}

footer {
    display: block;
    background-color: #303030;
    padding: 3rem 0;
    color: white;
}

@media only screen and (min-width: 63em) {
    
    footer {
        padding: 7rem 15rem;
    }
    
}

footer ul li {
    display: inline-block;
    margin: 10px;
}

footer ul li a:hover {
    text-decoration: none;
}

.push-top {
    margin-top: 1rem;
}