<!-- Jared -->

<figure>
    <img src="{{site.baseurl}}/images/jared-hand-wtnew-bg.png">
    <figcaption>
        <h3>Jared Lebel</h3>
        <p>– Designer, musician, idea-maker and illustrator. Breaking boundaries and disturbing the peace since 1987.</p>
        <ul class="contact-list">
            <li><a class="icon-mail" href="mailto:jared@justaddsalt.ca">Email</a></li>
            <li><a class="icon-linkedin" href="http://ca.linkedin.com/in/jaredlebel" target="_blank">LinkedIn</a></li>
            <li><a class="icon-instagram" href="http://www.instagram.com/smilenever_" target="_blank">Instagram</a></li>
            <li><a class="icon-dribbble" href="http://dribbble.com/meet_jared" target="_blank">Dribbble</a></li>
        </ul>
    </figcaption>
</figure>
